* {
    box-sizing: border-box;
}

html {
    font-size: 10.5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

/* LAYOUT */

body {
    background-color:rgb(16, 16, 16) ;
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, [group] minmax(5em, 1fr));
    grid-template-rows: repeat(7, [period] 1fr) [row6x] 1fr [row7x] 1fr;
    grid-gap: 0.5em;
    counter-reset: atomic-number;
    scale: 1 1.35;
    margin: 100px 10px;
}

/* Pseudo-element to force elements 57 and 89 to shift right; see https://stackoverflow.com/a/49566478/404623 */
.periodic-table::before {
    content: '';
    grid-row: row6x / span 2;
    grid-column: 1 / 3;
}

.element {
    border: thin solid black;
    text-align: center;
    opacity: 100;
}

.element:hover, .element:focus {
    opacity: 5;
    font-weight: bold;
}

.element-name {
    border-bottom: none !important;
    text-decoration: none !important;
    word-break: break-all;
    hyphens: auto;
    font-size: 1.5em;
    counter-increment: atomic-number;
}

.element-name::before {
    font-size: 0.8rem;
    display: block;
    content: counter(atomic-number);
    color: rgb(173, 162, 162);
}

.element-name::after {
    font-size: 0.85rem;
    display: block;
    content: attr(title);
}

/* Footnote indicators for lanthanide and actinide groups */

.element-57, .element-89 {
    position: relative;
}

.element-57::before, .element-89::before, .element-57::after, .element-89::after {
    display: block;
    position: absolute;
    width: 100%;
    font-size: 1em;
    top: 25%;
    font-weight: normal !important;
}

.element-57::before, .element-89::before {
    top: calc(-200% - 1rem);
}

.element-57::before, .element-57::after {
    content: '*';
}

.element-89::before, .element-89::after {
    content: '**';
}

.element-57::after, .element-89::after {
    left: calc(-50% - 1rem);
}

/* Special positioning of certain elements */

.element-5, .element-13 { grid-column: 13; }
.element-72, .element-104 { grid-column: 4; }
.lanthanide-group {
    grid-row: row6x;
    position: relative;
    top: 1em;
}
.actinide-group {
    grid-row: row7x;
    position: relative;
    top: 1em;
}

.noble-gas { grid-column: 18; }

/* LEGEND */

.legend {
    grid-row: 1 / 3;
    grid-column: 5 / span 6;
    border: medium ridge black;
    padding: 0.5em;
}

.legend h2 {
    margin: 0;
}

.legend ul {
    padding-left: 0;
    list-style: none;
}

.legend li {
    display: inline-block;
    padding: 0.25em;
    margin-bottom: 0.5em;
}

.legend-highlight {
    outline: 1px solid whitesmoke;
}

/* COLORS */

.lanthanide { border-color: hotpink; color:hotpink; }
.lanthanide:hover { text-shadow: 0px 0px 5px hotpink; }
.actinide { border-color:magenta; color: magenta; }
.actinide:hover { text-shadow: 0px 0px 5px magenta; }
.alkali-metal { border-color: goldenrod; color: goldenrod; }
.alkali-metal:hover { text-shadow: 0px 0px 5px goldenrod; }
.alkaline-earth-metal { border-color: #ffdead; color: #ffdead; }
.alkaline-earth-metal:hover { text-shadow: 0px 0px 5px #ffdead; }
.diatomic-nonmetal { border-color: #15fe4f; color: #15fe4f; }
.diatomic-nonmetal:hover { text-shadow: 0px 0px 5px #15fe4f; }
.polyatomic-nonmetal { border-color: #a1ffc3; color: #a1ffc3; }
.polyatomic-nonmetal:hover { text-shadow: 0px 0px 5px #a1ffc3; }
.post-transition-metal { border-color: rgb(0, 174, 255); color: rgb(0, 174, 255); }
.post-transition-metal:hover { text-shadow: 0px 0px 5px rgb(0, 174, 255); }
.metalloid { border-color: rgb(0, 255, 187); color: rgb(0, 255, 187); }
.metalloid:hover { text-shadow: 0px 0px 5px rgb(0, 255, 187); }
.noble-gas { border-color: cyan; color: cyan; }
.noble-gas:hover { text-shadow: 0px 0px 5px cyan; }
.transition-metal { border-color: orangered; color: orangered; }
.transition-metal:hover { text-shadow: 0px 0px 5px orangered; }
.unknown { border-color: rgb(255, 255, 255); color: rgb(255, 255, 255); }
.unknown:hover { text-shadow: 0px 0px 5px white; }
.periodic-table {color: white;}